
# Dependencies
/node_modules

# Vite
/dist
.env
.env.*
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor Directories and Files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
